<div class="footer">
  <div class="footer__info footer__grid">
    <div class="footer__info__contact footer__grid__column footer__grid__column--2x">
      <div class="footer__info__logo">
        {% include svgs/_logo.svg %}
        <span>{{ site.title }}</span>
      </div>

      <ul>
        <li><a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer__grid__column">
        <h4>Product</h4>

        <ul>
          <li><a href="/features/#chat">Real Time Chat</a></li>
          <li><a href="/features/#apps">Integrated Apps</a></li>
          <li><a href="/features/#suggestions">Automatic Suggestions</a></li>
          <!-- <li><a href="/features/#email">Email Responses</a></li> -->
          <!-- <li><a href="/features/#reporting">Reporting</a></li> -->
          <!-- <li><a href="/features/#predictions">Predictions</a></li> -->
        </ul>
    </div>
    <div class="footer__grid__column">
        <h4>Resources</h4>

        <ul>
          <li><a href="https://developers{{ site.url_base }}">Developers Portal</a></li>
          <li><a href="https://docs{{ site.url_base }}">API Docs</a></li>
          <li><a href="https://github.com/clarityhub">Github</a></li>
        </ul>
    </div>
    <!-- <div class="footer__grid__column">
        <h4>Support</h4>

        <ul>
          <li><a href="{{ site.knowledge_base }}" target="tab" rel="noopener noreferrer">Help</a></li>
          <li><a href="{{ site.system_status }}" target="tab" rel="noopener noreferrer">System Status</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div> -->
    <div class="footer__grid__column">
        <h4>About</h4>

        <ul>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="{{ site.blog }}" target="tab" rel="noopener noreferrer">Blog</a></li>
        </ul>
    </div>
  </div>

  <div class="footer__addtl">
    <div class="footer__addtl__container">
      <div class="footer__addtl__copy">
        &copy; 2017 Clarity Hub, Inc. All Rights Reserved.
      </div>

      <div class="footer__addtl__links">
        <ul>
          <li><a href="/terms/#privacy">Privacy</a></li>
          <li><a href="/terms/">Terms</a></li>
        </ul>
      </div>

      <div class="footer__addtl__social">
        <ul>
          <li>
            <a class="fb" href="https://facebook.com/{{ site.facebook_username }}" target="tab" rel="noopener noreferrer">
              {% include svgs/_facebook.svg %}
            </a>
          </li>
          <li>
            <a class="tw" href="https://twitter.com/{{ site.twitter_username }}" target="tab" rel="noopener noreferrer">
              {% include svgs/_twitter.svg %}
            </a>
          </li>
          <li>
            <a class="medium" href="https://medium.com/{{ site.medium_username }}" target="tab" rel="noopener noreferrer">
              {% include svgs/_medium.svg %}
            </a>
          </li>
          <li>
            <a class="linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="tab" rel="noopener noreferrer">
              {% include svgs/_linkedin.svg %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
