<div class="header__mobile-menu header__mobile-menu--hidden" id="header-mobile-menu">
  <button class="menu" id="header-menu-close">
    {% include svgs/_menu-close.svg %}
  </button>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/features/">Features</a></li>
    <li><a href="/pricing/">Pricing</a></li>
    <li><a href="/about/">About</a></li>
    <!-- <li><a href="/contact/">Contact</a></li> -->
    <li><a href="{{ site.login_base }}/">Login</a></li>
    <li><a href="/register/">Get Started</a></li>
    <!-- <li><a href="/schedule/">Schedule a Demo</a></li> -->
  </ul>
</div>
