$home__header__breakpoint--mobile:  620px;

.home__header--transitionable {
  transition: all $slow;

  * {
    transition: all $slow;
  }
}

.home__header--hidden {
  display: none !important;
}

.home__header {
  background-color: $clair-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 50px;
  left: 0;
  padding-top: 2px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  ul {
    align-items: center;
    display: flex;
    flex: 3;
    justify-content: center;
  }

  li {
    display: inline-block;
    flex: 3;
    text-align: center;
  }

  .logo {
    display: inline-block;
    flex: 1;
    text-align: center;

    img {
      height: 40px;
    }
  }

  .home__header__container {
    display: flex;
    margin: 2px auto 0;
    max-width: 850px;
    width: 100%;
  }

  .home__header__link {
    @extend %clair-heading;

    @include user-select(none);

    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    border: 0 !important;
    color: $clair-wash !important;
    cursor: pointer;
    display: block;
    font-size: rem(14px);
    line-height: rem(26px);
    position: relative;
    text-align: center;
    // -webkit-transition: color 0.3s;
    transition: color 0.3s;
    transition-property: color;

    &:visited {
      color: $clair-light !important;
    }

    &::before {
      background: $clair-wash;
      bottom: -2px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      // -webkit-transform: scale3d(0, 0.4, 1);
      transform: scale3d(0, 0.4, 1);
      // -webkit-transition: -webkit-transform 0.1s;
      transition: transform 0.1s;
      width: 100%;
    }

    &:hover,
    &:focus {
      &::before {
        // -webkit-transform: scale3d(0.5, 0.4, 1);
        transform: scale3d(0.5, 0.4, 1);
        // -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        // -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

.home__header--active .home__header__link::before {
    // -webkit-transform: scale3d(0.5, 0.4, 1);
    transform: scale3d(0.5, 0.4, 1);
    // -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    // -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.home__header--expanded {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  height: 95px;
  padding-top: 10px;

  .logo img {
    height: 100px;
    max-width: 100px;
  }

  .home__header__container {
    margin: 20px auto 0;
  }

  .home__header__link {
    font-size: rem(16px);
  }
}

.home__header__mobile {
  display: none;

  @media (max-width: $home__header__breakpoint--mobile) {
    display: block;
  }

  span {
    @extend %clair-heading;

    color: $clair-light;
    display: inline-block;
    font-size: rem(20px);
    margin-left: 10px;
    vertical-align: middle;
  }

  .logo img {
    height: 43px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .menu {
    background-color: transparent;
    border: 0;
    float: right;
    margin-right: 10px;
    margin-top: 1px;
    min-width: 0 !important;
  }
}

.home__header__desktop {
  display: block;

  @media (max-width: $home__header__breakpoint--mobile) {
    display: none;
  }
}

.home__mobile__body__noscroll {
  overflow: hidden;
}

.home__mobile__body__zoom {
  transition: transform $fast ease-in;
}

.home__mobile__body__zoom--out {
  opacity: 0.2;
  transform: scale(1.05);
}

.home__mobile-menu--hidden {
  display: none !important;
  opacity: 0;
}

.home__mobile-menu--show {
  opacity: 1 !important;
}

.home__mobile-menu {
  align-items: center;
  background-color: transparentize($clair-primary, 0.9);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all $fast ease-out;
  transition-property: background-color, opacity;
  z-index: 1000;

  ul {
    flex: 1;
  }

  li {
    background-color: $clair-primary;
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
  }

  a {
    @include font-size(30px);

    border: 0;
    color: $clair-light !important;
    transition: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid $clair-light;
      margin-bottom: -1px;
    }
  }

  .menu {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    margin-top: 1px;
    min-width: 0 !important;
    position: absolute;
    right: 0;
    top: 5px;
  }
}
