---
title: Features
excerpt: Clarity Hub gives your customer success team super powers to help customers like never before.
layout: empty
---

{% include fade-header.html %}

<div class="fluid-content">
  <div class="features__heading">
    <h1>Features</h1>

    <h2>Clarity Hub gives your customer success team
      super powers to help customers like never before.
    </h2>

    <div class="features__heading__buttons">
      <a href="/register/">
        Try Free for 30 Days
      </a>
    </div>
  </div>

  <div class="features">
    <section class="features__all">
      <a href="#chat" id="chat" class="feature__anchor"></a>

      <h2>All your communication channels,
        <br/>
        all in one place
      </h2>

      <div class="features__all__section">
        <div class="features__all__section__left">
          <img src="/assets/images/features-all.png" />
        </div>
        <div class="features__all__section__right">
          <div class="features__box">
            <h4>Multi-channel support</h4>

            <p>Connect with your current social and web channels
              making it easy for your customers to engage you.
            </p>
          </div>
          
          <div class="features__box">
            <h4>Integrated chat</h4>
          
            <p>
              Add our in-website chat widget into your existing website.
              Reach your customers during that critial time when
              they have questions before they buy.
            </p>
          </div>

          <div class="features__box">
            <h4>Contact management</h4>

            <p>
              Share notes on your contacts and track all the conversations you've had with them.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features__fast">
      <a href="#suggestions" id="suggestions" class="feature__anchor"></a>

      <h2>Handle more chats with a
        <br/>
        powerful built-in assistant
      </h2>

      <div class="features__fast__section">
        <div class="features__fast__section__left">
          <div class="features__box">
            <h4>Automatic suggestions</h4>
      
            <p>
              These aren't just canned responses. Our assistant tracks which
              replies lead to fast resolve times and suggests them to your
              agents.
            </p>
          </div>

          <div class="features__box">
            <h4>Grow your knowledge-base</h4> 
            
            <p>
              No need to go search and maintain a knowledgebase.
            </p>
          </div>
        </div>

        <div class="features__fast__section__right">
          <img src="/assets/images/suggested.png" />
        </div>
      </div>
    </section>

    <section class="features__decisions">
      <a href="#analytics" id="analytics" class="feature__anchor"></a>
      <h2>Make Smart Decisions</h2>    

      <div class="features__decisions__section">
        <div class="features__decisions__section__left">
          <img src="/assets/images/analytics.png" />
        </div>
        
        <div class="features__decisions__section__right">
          <div class="features__box">
            <h4>Real-time analytics</h4>
        
            <p>
              Make key decisions based on data as it happens.
            </p>
          </div>
        
          <div class="features__box">
            <h4>Don't wait for a report</h4>
        
            <p>
              We bring suggestions to your agents right when they need
              it – why wait for a report at the end of the day?
            </p>
          </div>
        </div>
      </div>
    </section>

    
    <section class="features__integrations">
      <a href="#apps" id="apps" class="feature__anchor"></a>
      <h2>Integrate into our API</h2>

      <div class="features__integrations__section">
        <div class="features__box">
          <h4>Build tools for your agents</h4>

          <p>
            Our platform is build for your team to extend. Push real-time suggestions to your agents or push customer data into our app.
          </p>
        </div>

        <div class="features__box features__box--image">
          <img src="/assets/images/integrate.png" />
        </div>

        <div class="features__box">
          <h4>Access your data</h4>

          <p>
            Pull any of your chats and contacts. We give you access to all of your data.
          </p>
        </div>
      </div>
    </section>
    
  </div>

  <div class="about__get-started">
    <p>
      Get started for free
      <a class="home__read__button" href="/register/">Sign Up Now</a>
    </p>
  </div>
</div>

{% include footer.html %}