---
title: About Clarity Hub
excerpt: We're all about keeping your customers happy by adding a human touch to your website
layout: empty
---

{% include fade-header.html %}

<div class="fluid-content">
  <div class="about__heading">

    <h1>About Us</h1>

    <h2>
      Adding a human touch to your website
    </h2>
  </div>

  <div class="about">
    <section class="about__happy">  
      <h2>We're all about keeping your customers happy
      </h2>
    
      <div class="about__happy__section">
        <div class="features__box">
          <h4>People focused</h4>

          <p>When we design and build Clarity Hub, we are always making sure
            that the experience for the customer is nothing less than exceptional.
          </p>
          <p>And while we provide chatbot functionality, our goal is to always make
            tools that help real customer service agents serve customers better.
          </p>
          <p>We know that at the end of the day, your customers want to talk to
            a real person, and you want a real person making sure your customers
            have an amazing experience with your company.
          </p>
        </div>
      </div>
    </section>



    <section class="about__team">
      <h2>About our team</h2>

      <div class="about__team__section">
        <div class="about__team__portrait">
          <img src="/assets/temp/ivan.png" alt="Ivan Montiel Portrait" />
        </div>
        <div class="about__team__bio">
          <h4>Ivan Montiel</h4>
          <p>
            Ivan is the founder, lead full stack developer, and web application designer. He enjoys playing guitar and loves LEGO architecture
            sets.
          </p>
        </div>
      </div>


      <div class="about__team__section">
        <div class="about__team__portrait">
          <img src="/assets/temp/daniela.png" alt="Daniela Howe Portrait" />
        </div>
        <div class="about__team__bio">
          <h4>Daniela Howe</h4>
          <p>
            Daniela is the product owner, illustrator, graphic designer, and quality assurance engineer. She loves talking walks with
            her pet cat Pepper.
          </p>
        </div>
      </div>

      <div class="about__team__section">
        <div class="about__team__portrait">
          <img src="/assets/temp/anna.png" alt="Anna Loukianova Portrait" />
        </div>
        <div class="about__team__bio">
          <h4>Anna Loukianova</h4>
          <p>
            Anna is a passionate React developer and resident problem solver. She likes jamming, JavaScript, and cats.
          </p>
        </div>
      </div>

      <div class="about__team__section">
        <div class="about__team__portrait">
          <img src="/assets/images/robot.png" alt="Claire the Owl Portrait" />
        </div>
        <div class="about__team__bio">
          <h4>Claire the Owl</h4>
          <p>
            Hoot hoot! It's Claire the Owl. She likes looking at data and making suggestions to make everyone's lives easier.
          </p>
        </div>
      </div>
    </section> 
  </div>
</div>

{% include footer.html %}