---
title: Clarity Hub – Customer Success
excerpt: A customer success platform with a built-in virtual assistant. Engange with you customers faster than ever before with real time suggestions and monitoring.
layout: empty
---

{% include fade-header.html %}

<div class="home__content">
  <div class="home__heading">

    <h1>Clarity Hub</h1>

    <h2>A customer success platform<br/>with a built-in virtual assistant</h2>
  </div>

  <div class="home__features">
    <div class="home__preview">
      <div class="home__preview__overlay__container">
        <div class="home__preview__image">
          <img src="/assets/images/screenshot.png" alt="What you see preview" />
        </div>
      </div>
    </div>

    <div class="home__heading__content">
      <p>
        Engange with you customers faster than ever before with real time suggestions and monitoring.
        Your team will be able to handlemore chats and shorten wait times.
      </p>
    </div>
    <div class="home__heading__buttons">
      <a href="/register/" class="home__heading__button--block">Try Free for 30 Days</a>
    </div>

    <!-- Features -->

    <div class="home__features__feature">
      <div class="home__features__feature__full">
        <h2>Chat, Email, and Social together</h2>

        <p>
          Clarity Hub connects with your current channels and empowers you to add more.
        </p>

        <img src="/assets/images/channels.png" />
      </div>
    </div>
    <!-- /.home__features__feature -->

    <div class="home__features__feature home__features__feature--first">
      <div class="home__features__feature__left desktop">
        <img class="desktop" src="/assets/images/suggested.png"/>
      </div>

      <div class="home__features__feature__right">
        <div>
          <h2>High Volume? No Problem</h2>

          <img class="mobile" src="/assets/images/suggested.png" alt="Suggestions preview" />

          <p>
            We've integrated a virtual assistant into Clarity Hub that
            helps your customer success agents close tickets faster and
            leave customers highly satisfied.
          </p>
        </div>
      </div>
    </div><!-- /.home__features__feature -->

    <div class="home__features--gray">
      <div class="home__features__feature">
        <div class="home__features__feature__left">
          <div>
            <h2>Integrated Chat</h2>

            <img class="mobile" src="/assets/images/integrated-chat.png" alt="Our chat app integrates into your existing website" />

            <p>
              Use your existing website to engage your customers.
              Let your customers talk with you in real-time and increase sales.
            </p>
          </div>
        </div>

        <div class="home__features__feature__right desktop">
          <img class="desktop" src="/assets/images/integrated-chat.png" />
        </div>
      </div>
      <!-- /.home__features__feature -->
    </div>

    <div class="home__features__feature">
      <div class="home__features__feature__left desktop">
        <img class="desktop" src="/assets/images/analytics.png" />
      </div>
    
      <div class="home__features__feature__right">
        <div>
          <h2>Real Time Monitoring</h2>
    
          <img class="mobile" src="/assets/images/analytics.png" alt="Suggestions preview" />
    
          <p>
            Keep track of your customer success center in real time using
            your dashboard. Monitor queue times, total chats, and more.
          </p>
        </div>
      </div>
    </div>
    <!-- /.home__features__feature -->
  
    <div class="home__features__extra--mobile">
      <a href="/features/">Explore Our Features</a>
    </div>
  </div>

  <!-- <div class="home__read">
    <p>
      Read about how we cut 10% time spent per chat
      <a class="home__read__button" href="/m/download-savings-pdf.html">Download Now</a>
    </p>
  </div> -->

  <div class="home__cta">
    <div class="home__cta__container">
      <h2>Ready to Get Started?</h2>


      <div class="home__cta__button__container--desktop">
        <a class="home__cta__button" href="/register/">Try for Free</a>
      </div>
      <div class="home__cta__button__container--mobile">
        <a class="home__cta__button" href="/register/">Try for Free</a>
        <!-- <a class="home__cta__button" href="/schedule/">Schedule a Demo</a> -->
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
